header
{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    padding: 1rem 2rem;
    background-color: var(--white);
    box-shadow: 0 0 6px rgba(51, 51, 51, 0.15);
}

main
{
    width: 100%;
    height: calc(100vh - 4.25rem);
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    padding: 1rem;

    textarea
    {
        width: 100%;
        max-width: 768px;
        height: 100%;
        background-color: var(--white);
        box-shadow: 0 0 6px rgba(51, 51, 51, 0.15);
        border-radius: 0.25rem;
        padding: 1.25rem 1.5rem;
        min-height: 420px;
        border: none;
        outline: none;
        font-size: 1rem;
        line-height: 1.618;
        color: rgba(84, 95, 102, 0.6);
        overflow: auto;
        white-space: pre;
        transition: all 75ms ease-in-out;

        &:focus
        {
            color: var(--font);
        }
    }
}

html[state=running]
{
    *
    {
        cursor: wait !important;
    }
}